{:group :action-event
 :category :event
 :fragment [{:index 0
             :text "An overhead loudspeaker crackles to life"
             :follow-up {:config #{:required}
                         :fragment [{:index 0
                                     :text ", 'Citizen! Report immediately to the nearest oddly-angled inner tube.'"}
                                    {:index 1
                                     :text ", 'Citizen! Report immediately to the nearest self-incrimination booth.'"}
                                    {:index 2
                                     :text ", 'Citizen! Report immediately to the nearest Java stacktrace.'"}
                                    {:index 3
                                     :text ", 'Citizen! Report immediately to the bean simulator.'"}
                                    {:index 4
                                     :text ", 'Citizen! Report immediately to the nearest certified manhole.'"}
                                    {:index 5
                                     :text ", 'Citizen! Report immediately to the National Baby Oil Slip-n-Slide.'"}
                                    {:index 6
                                     :text ", 'Citizen! Report immediately to the Hall of Uncomfortable Touching.'"}
                                    {:index 7
                                     :text ", 'Citizen! Report immediately to the Bakery of Unravelled Cinnamon Buns.'"}
                                    {:index 8
                                     :text ", 'Citizen! Stop that.'"}
                                    {:index 9
                                     :text ", 'Citizen! Report immediately to the Readers' Digest Condensation Camp.'"}
                                    {:index 10
                                     :text ", 'Citizen! Open up your textbook and turn to the chapter concerning your death.'"}
                                    {:index 11
                                     :text ", 'Citizen! Report immediately to the Out-of-Control Rototiller Museum.'"}
                                    {:index 12
                                     :text ", 'Citizen! Report immediately to the nearest mandatory prison hug.'"}
                                    {:index 13
                                     :text ", 'Citizen! Report immediately to the nearest sanctioned dogpile.'"}
                                    {:index 14
                                     :text ", 'Citizen! Report immediately to the nearest full-contact Bible study group.'"}
                                    {:index 15
                                     :text ", 'Citizen! Report immediately to the mannequin factory.'"}
                                    {:index 16
                                     :text ", 'Citizen! Report immediately to The Garbagerie.'"}
                                    {:index 17
                                     :text ", 'Citizen! Report immediately to Stall #3.'"}
                                    {:index 18
                                     :text ", 'Citizen! Just shut up already.'"}
                                    {:index 19
                                     :text ". The announcement is completely garbled. The loudspeaker switches off with a squawk."}]}}
            {:index 1
             :text "In the distance, "
             :follow-up {:config #{:required}
                         :fragment [{:index 0
                                     :text "you hear %0 let the bass drop."
                                     :sub [{:token 0 :group :person}]}
                                    {:index 1
                                     :text "you hear %0 drop the mic."
                                     :sub [{:token 0 :group :person}]}
                                    {:index 2
                                     :text "you hear %0 get wicked."
                                     :sub [{:token 0 :group :person}]}]}}
            {:index 2
             :text "You start spinning around and around. "
             :follow-up {:config #{:required}
                         :fragment [{:index 0
                                     :text "%0 looks unimpressed."
                                     :sub [{:token 0 :group :person}]}
                                    {:index 1
                                     :text "%0 faints."
                                     :sub [{:token 0 :group :person}]}
                                    {:index 2
                                     :text "You drill straight into the crust of the earth."}
                                    {:index 3
                                     :text "You gracefully lift off into a blue sky."}
                                    {:index 4
                                     :text "You gracefully lift off into a blue sky never to be seen again."}
                                    {:index 5
                                     :text "You gracefully lift off, go sideways, and crash into a building."}]}}
            {:index 3
             :text "The phone rings. "
             :follow-up {:config #{:required}
                         :fragment [{:index 0
                                     :text "%0 stares at it %1. Eventually the ringing stops."
                                     :sub [{:token 0 :group :person}
                                           {:token 1 :group :adverb}]}
                                    {:index 1
                                     :text "%0 watches as it starts to melt, the sound of the ring slowing and burbling to a stop."
                                     :sub [{:token 0 :group :person}]}
                                    {:index 2
                                     :text "%0 picks it up, listens a moment, shrieks, and slams the phone down again."
                                     :sub [{:token 0 :group :person}]}
                                    {:index 3
                                     :text "%0 picks it up, says, 'It's for you,' but you're longer there."
                                     :sub [{:token 0 :group :person}]}]}}
            {:index 4
             :text "The radio crackles to life. "
             :follow-up {:config #{:required}
                         :fragment [{:index 0
                                     :text "It sounds like someone with a cold is eating Rice Krispies." }
                                    {:index 1
                                     :text "A hollow voice intones, '%0'"
                                     :sub [{:token 0 :group :intonation}]}
                                    {:index 2
                                     :text "Ketchup begins seeping through the speaker holes."}
                                    {:index 3
                                     :text "It continues to crackle to life. It's still crackling. It's on fire."}
                                    {:index 4
                                     :text "An announcer shouts, 'They found rice on Mars!'"}
                                    {:index 5
                                     :text "An announcer shouts, 'I'M NUDE TODAY.'"}
                                    {:index 6
                                     :text "A news report is on about %0 %1."
                                     :sub [{:token 0 :group :disaster}
                                           {:token 1 :group :location :config #{:no-prep}}]}
                                    {:index 7
                                     :text "%0 solemnly says, '%1'"
                                     :sub [{:token 0 :group :person}
                                           {:token 1 :group :intonation}]}]}}
            {:index 5
             :text "You awake from a nightmare. You saw yourself %0. The corpse of %1 was there, holding %2."
             :sub [{:token 0 :group :location}
                   {:token 1 :group :person :config #{:no-groups}}
                   {:token 2 :group :item}]}
            {:index 6
             :text "You check your inventory. "
             :follow-up {:config #{:required}
                         :fragment [{:index 0
                                     :text "You are empty-handed."}
                                    {:index 1
                                     :text "You are carrying %0."
                                     :sub [{:token 0 :group :item}]}
                                    {:index 2
                                     :text "You have %0 and %1."
                                     :sub [{:token 0 :group :item}
                                           {:token 1 :group :item}]}
                                    {:index 3
                                     :text "You are carrying %0, %1, and %2."
                                     :sub [{:token 0 :group :item}
                                           {:token 1 :group :item}
                                           {:token 2 :group :item}]}]}}
            {:index 6
             :text "You eat %0."
             :sub [{:token 0 :group :food}]
             :follow-up {:fragment [{:index 0
                                     :text " %1 looks on %2."
                                     :sub [{:token 1 :group :actor}
                                           {:token 2 :group :adverb}]}]}}
            {:index 7
             :text "You get tired of waiting for "
             :follow-up {:config #{:required}
                         :fragment [{:index 0
                                     :text "your Uber and decide to walk to %0 instead."
                                     :sub [{:token 0 :group :location :config #{:no-prep}}]}
                                    {:index 1
                                     :text "your private jet so you decide to walk to %0 instead."
                                     :sub [{:token 0 :group :location :config #{:no-prep}}]}
                                    {:index 2
                                     :text "the all-you-can-eat-buffet to open so you walk to %0 instead."
                                     :sub [{:token 0 :group :location :config #{:no-prep}}]}]}}
            {:index 8
             :text "You feel a little famished so you eat %0."
             :sub [{:token 0 :group :food}]}
            {:index 9
             :text "You open up %0. "
             :sub [{:token 0 :group :book}]
             :follow-up {:config #{:required}
                         :fragment [{:index 0
                                     :text "Someone has scribbled all over the margins. You throw it down on the floor in disgust."}
                                    {:index 1
                                     :text "Most of the book has been blacked out."}
                                    {:index 2
                                     :text "Inside is a note: 'When you're not reading this, it's written in Spanish."}
                                    {:index 3
                                     :text "Water pours out."}
                                    {:index 4
                                     :text "Orange juice spills out."}
                                    {:index 5
                                     :text "It bursts into flames."}
                                    {:index 6
                                     :text "Someone has left a recipe for beef stew inside."}
                                    {:index 7
                                     :text "You read a bit before tossing it over your shoulder and then sobbing quietly."}
                                    {:index 8
                                     :text "You read a bit before tossing it over your shoulder and then doing the electric slide."}]}}

            {:index 10
             :text "You peek out the window. "
             :follow-up {:config #{:required}
                         :fragment [{:index 0
                                     :text "%0 is messing around with your mailbox. You crouch in fear."
                                     :sub [{:token 0 :group :person}]}
                                    {:index 1
                                     :text "%0 is laying facedown in your flowerbed. You sink to your knees with worry."
                                     :sub [{:token 0 :group :person}]}
                                    {:index 2
                                     :text "%0 has set up a lemonade stand in your yard. It's on fire."
                                     :sub [{:token 0 :group :person}]}
                                    {:index 3
                                     :text "%0 has set up a lemonade stand in your yard. It's covered in bees."
                                     :sub [{:token 0 :group :person}]}
                                    {:index 4
                                     :text "%0 has set up a lemonade stand in your yard. The line stretches around the block."
                                     :sub [{:token 0 :group :person}]}
                                    {:index 5
                                     :text "%0 has set up a lemonade stand across the street. You feel oddly jealous."
                                     :sub [{:token 0 :group :person}]}
                                    {:index 6
                                     :text "%0 has set up a lemonade stand in your yard. Somehow %1 is also in line."
                                     :sub [{:token 0 :group :person}
                                           {:token 1 :group :gender :case :subjective}]}
                                    {:index 7
                                     :text "%0 is struggling to start a chainsaw while staring at you. You bite your knuckle."
                                     :sub [{:token 0 :group :person}]}
                                    {:index 8
                                     :text "%0 is standing in your yard, painting a portrait of you peeking out the window."
                                     :sub [{:token 0 :group :person}]}
                                    {:index 9
                                     :text "%0 is standing right there, peeking back in."
                                     :sub [{:token 0 :group :person}]}
                                    {:index 10
                                     :text "%0 is strutting back and forth."
                                     :sub [{:token 0 :group :animal}]}
                                    {:index 11
                                     :text "The cops have set up a parameter around your house."}
                                    {:index 12
                                     :text "You're impressed: real life has an excellent framerate."}
                                    {:index 13
                                     :text "It's dark out because it's night. The moon is getting closer."}
                                    {:index 14
                                     :text "%0 has almost finished burying all the corpses in your yard."
                                     :sub [{:token 0 :group :person}]}
                                    {:index 15
                                     :text "The bodies are hitting the floor."}
                                    {:index 16
                                     :text "It's raining Scrabble tiles because of course it is."}
                                    {:index 17
                                     :text "It's raining Scrabble tiles."}
                                    {:index 18
                                     :text "Someone has installed an above-ground pool and filled it with mini-ravioli."}
                                    {:index 19
                                     :text "Your entire house has been encased in a giant stone column."}]}}
            {:index 11
             :text "You pick up %0"
             :sub [{:token 0 :group :item}]
             :follow-up {:config #{:required}
                         :fragment [{:index 0
                                     :text "."}
                                    {:index 1
                                     :text ". It bursts into flames."}
                                    {:index 2
                                     :text ". You throw it into the sky and it disappears."}
                                    {:index 3
                                     :text " and hold it close to your chest."}
                                    {:index 4
                                     :text " and hold it up to %1's face."
                                     :sub [{:token 1 :group :person}]}]}}
            {:index 12
             :text "You start spinning around and around while "
             :follow-up {:config #{:required}
                         :fragment [{:index 0
                                     :text "%0 claps and cheers."
                                     :sub [{:token 0 :group :person}]}
                                    {:index 1
                                     :text "%0 cries and points."
                                     :sub [{:token 0 :group :person}]}
                                    {:index 2
                                     :text "%0 writes furiously on a clipboard."
                                     :sub [{:token 0 :group :person}]}
                                    {:index 3
                                     :text "%0 starts spinning in the opposite direction, trying to offset your insanity with more insanity."
                                     :sub [{:token 0 :group :person}]}
                                    {:index 4
                                     :text "%0 strolls by, shaking %1 head sadly."
                                     :sub [{:token 0 :group :actor}
                                           {:token 1 :group :gender :case :possessive}]}
                                    {:index 5
                                     :text "%0 beams with pride."
                                     :sub [{:token 0 :group :person}]}]}}
            {:index 13
             :text "You startle %0 who drops %1 and runs away."
             :sub [{:token 0 :group :person}
                   {:token 1 :group :item}]}
            {:index 14
             :text "You surprise %0. %1 drops %2 and runs away."
             :sub [{:token 0 :group :person}
                   {:token 1 :ref 0 :group :gender :case :subjective}
                   {:token 2 :group :item}]}
            {:index 15
             :text "You take a bite of %0."
             :sub [{:token 0 :group :food}]}
            {:index 16
             :text "You take a sip of %0."
              :sub [{:token 0 :group :drink :config #{:no-article}}]}]}
