{:group :action-event
 :category :event
 :fragment [{:text ("An overhead loudspeaker crackles to life")
             :follow-up {:config #{:required}
                         :fragment ['(", 'Citizen! Report immediately to the nearest oddly-angled inner tube.'")
                                    '(", 'Citizen! Report immediately to the nearest self-incrimination booth.'")
                                    '(", 'Citizen! Report immediately to the nearest Java stacktrace.'")
                                    '(", 'Citizen! Report immediately to the bean simulator.'")
                                    '(", 'Citizen! Report immediately to the nearest certified manhole.'")
                                    '(", 'Citizen! Report immediately to the National Baby Oil Slip-n-Slide.'")
                                    '(", 'Citizen! Report immediately to the Hall of Uncomfortable Touching.'")
                                    '(", 'Citizen! Report immediately to the Bakery of Unravelled Cinnamon Buns.'")
                                    '(", 'Citizen! Stop that.'")
                                    '(", 'Citizen! Report immediately to the Readers' Digest Condensation Camp.'")
                                    '(", 'Citizen! Open up your textbook and turn to the chapter concerning your death.'")
                                    '(", 'Citizen! Report immediately to the Out-of-Control Rototiller Museum.'")
                                    '(", 'Citizen! Report immediately to the nearest mandatory prison hug.'")
                                    '(", 'Citizen! Report immediately to the nearest sanctioned dogpile.'")
                                    '(", 'Citizen! Report immediately to the nearest full-contact Bible study group.'")
                                    '(", 'Citizen! Report immediately to the mannequin factory.'")
                                    '(", 'Citizen! Report immediately to The Garbagerie.'")
                                    '(", 'Citizen! Report immediately to Stall #3.'")
                                    '(", 'Citizen! Just shut up already.'")
                                    '(". The announcement is completely garbled. The loudspeaker switches off with a squawk.")]}}
            {:text ("In the distance, ")
             :follow-up {:config #{:required}
                         :fragment ['("you hear " {:index 0 :group :person} " let the bass drop.")
                                    '("you hear " {:index 0 :group :person} " drop the mic.")
                                    '("you hear " {:index 0 :group :person} " get wicked.")]}}
            {:text ("You start spinning around and around. ")
             :follow-up {:config #{:required}
                         :fragment ['("%0 looks unimpressed.")
                                    '({:index 0 :group :person} " faints.")
                                    '("You drill straight into the crust of the earth.")
                                    '("You gracefully lift off into a blue sky.")
                                    '("You gracefully lift off into a blue sky never to be seen again.")
                                    '("You gracefully lift off, go sideways, and crash into a building.")]}}
            {:text ("The phone rings. ")
             :follow-up {:config #{:required}
                         :fragment ['({:index 0 :group :person} " stares at it " {:index 1 :group :adverb} ". Eventually the ringing stops.")
                                    '({:index 0 :group :person} " watches as it starts to melt, the sound of the ring slowing and burbling to a stop.")
                                    '({:index 0 :groyp :person} " picks it up, listens a moment, shrieks, and slams the phone down again.")
                                    '({:index 0 :group :person} " picks it up, says, 'It's for you,' but you're longer there.")]}}
            {:text ("The radio crackles to life. ")
             :follow-up {:config #{:required}
                         :fragment ['("It sounds like someone with a cold is eating Rice Krispies.") 
                                    '("A hollow voice intones, " {:index 0 :group :intonation})
                                    '("Ketchup begins seeping through the speaker holes.")
                                    '("It continues to crackle to life. It's still crackling. It's on fire.")
                                    '("An announcer shouts, 'They found rice on Mars!'")
                                    '("An announcer shouts, 'I'M NUDE TODAY.'")
                                    '("A news report is on about " {:index 0 :group :disaster} " " {:index 1 :group :location :config #{:no-prep}} ".")
                                    '({:index 0 :group :person} " solemnly says, '" {:index 1 :group :intonation} "'")]}}
            {:text ("You awake from a nightmare. You saw yourself " {:index 0 :group :location} ". The corpse of " {:index 1 :group :person :config #{:no-groups}} " was there, holding " {:index 2 :group :item} ".")}
            {:text ("You check your inventory. ")
             :follow-up {:config #{:required}
                         :fragment ['("You are empty-handed.")
                                    '("You are carrying " {:index 0 :group :item} ".")
                                    '("You have " {:index 0 :group :item} " and " {:index 1 :group :item} ".")
                                    '("You are carrying " {:index 0 :group :item} ", " {:index 1 :group :item} ", and " {:index 2 :group :item} ".")]}}
            {:text ("You eat " {:index 0 :group :food} ".")
             :follow-up {:fragment ['( {:index 0 :group :actor} " looks on " {:index 1 :group :adverb} ".")]}}
            {:text ("You get tired of waiting for ")
             :follow-up {:config #{:required}
                         :fragment ['("your Uber and decide to walk to " {:index 0 :group :location :config #{:no-prep}} " instead.")
                                    '("your private jet so you decide to walk to " {:index 0 :group :location :config #{:no-prep}} " instead.")
                                    '("the all-you-can-eat-buffet to open so you walk to " {:index 0 :group :location :config #{:no-prep}} " instead.")]}}
            {:text ("You feel a little famished so you eat " {:index 0 :group :food} ".")}
            {:text ("You open up " {:index 0 :group :book} ". ")
             :follow-up {:config #{:required}
                         :fragment ['("Someone has scribbled all over the margins. You throw it down on the floor in disgust.")
                                    '("Most of the book has been blacked out.")
                                    '("Inside is a note: 'When you're not reading this, it's written in Spanish.")
                                    '("Water pours out.")
                                    '("Orange juice spills out.")
                                    '("It bursts into flames.")
                                    '("Someone has left a recipe for beef stew inside.")
                                    '("You read a bit before tossing it over your shoulder and then sobbing quietly.")
                                    '("You read a bit before tossing it over your shoulder and then doing the electric slide.")]}}
            {:text ("You peek out the window. ")
             :follow-up {:config #{:required}
                         :fragment ['({:index 0 :group :person} " is messing around with your mailbox. You crouch in fear.")
                                    '({:index 0 :group :person} " is laying facedown in your flowerbed. You sink to your knees with worry.")
                                    '({:index 0 :group :person} " has set up a lemonade stand in your yard. It's on fire.")
                                    '({:index 0 :group :person} " has set up a lemonade stand in your yard. It's covered in bees.")
                                    '({:index 0 :group :person} " has set up a lemonade stand in your yard. The line stretches around the block.")
                                    '({:index 0 :group :person} " has set up a lemonade stand across the street. You feel oddly jealous.")
                                    '({:index 0 :group :person} " has set up a lemonade stand in your yard. Somehow " {:index 1 :group :gender :case :subjective} " is also in line.")
                                    '({:index 0 :group :person} " is struggling to start a chainsaw while staring at you. You bite your knuckle.")
                                    '({:index 0 :group :person} " is standing in your yard, painting a portrait of you peeking out the window.")
                                    '({:index 0 :group :person} " is standing right there, peeking back in.")
                                    '({:index 0 :group :animal} " is strutting back and forth.")
                                    '("The cops have set up a parameter around your house.")
                                    '("You're impressed: real life has an excellent framerate.")
                                    '("It's dark out because it's night. The moon is getting closer.")
                                    '({:index 0 :group :person} " has almost finished burying all the corpses in your yard.")
                                    '("The bodies are hitting the floor.")
                                    '("It's raining Scrabble tiles because of course it is.")
                                    '("It's raining Scrabble tiles.")
                                    '("Someone has installed an above-ground pool and filled it with mini-ravioli.")
                                    '("Your entire house has been encased in a giant stone column.")]}}
            {:text ("You pick up " {:index 0 :group :item})
             :follow-up {:config #{:required}
                         :fragment ['(".")
                                    '(". It bursts into flames.")
                                    '(". You throw it into the sky and it disappears.")
                                    '(" and hold it close to your chest.")
                                    '(" and hold it up to " {:index 1 :group :person} "'s face.")]}}
            {:text ("You start spinning around and around while ")
             :follow-up {:config #{:required}
                         :fragment ['({:index 0 :group :person} " claps and cheers.")
                                    '({:index 0 :group :person} " cries and points.")
                                    '({:index 0 :group :person} " writes furiously on a clipboard.")
                                    '({:index 0 :group :person} " starts spinning in the opposite direction, trying to offset your insanity with more insanity.")
                                    '({:index 0 :group :actor} " strolls by, shaking " {:index 1 :group :gender :case :possessive} " head sadly.")
                                    '({:index 0 :group :person} " beams with pride.")]}}
            {:text ("You startle " {:index 0 :group :person} " who drops " {:index 1 :group :item} " and runs away.")}
            {:text ("You surprise " {:index 0 :group :person} ". " {:index 1 :ref 0 :group :gender :case :subjective} " drops " {:index 2 :group :item} " and runs away.")}
            {:text ("You take a bite of " {:index 0 :group :food} ".")}
            {:text ("You take a sip of " {:index 0 :group :drink :config #{:no-article}} ".")}]}
