{:group :action-event
 :category :event
 :fragment [{:text ["An overhead loudspeaker crackles to life"]
             :follow-up {:config #{:required}
                         :fragment [{:text [", 'Citizen! Report immediately to the nearest oddly-angled inner tube.'"]}
                                    {:text [", 'Citizen! Report immediately to the nearest self-incrimination booth.'"]}
                                    {:text [", 'Citizen! Report immediately to the nearest Java stacktrace.'"]}
                                    {:text [", 'Citizen! Report immediately to the bean simulator.'"]}
                                    {:text [", 'Citizen! Report immediately to the nearest certified manhole.'"]}
                                    {:text [", 'Citizen! Report immediately to the National Baby Oil Slip-n-Slide.'"]}
                                    {:text [", 'Citizen! Report immediately to the Hall of Uncomfortable Touching.'"]}
                                    {:text [", 'Citizen! Report immediately to the Bakery of Unravelled Cinnamon Buns.'"]}
                                    {:text [", 'Citizen! Stop that.'"]}
                                    {:text [", 'Citizen! Report immediately to the Readers' Digest Condensation Camp.'"]}
                                    {:text [", 'Citizen! Open up your textbook and turn to the chapter concerning your death.'"]}
                                    {:text [", 'Citizen! Report immediately to the Out-of-Control Rototiller Museum.'"]}
                                    {:text [", 'Citizen! Report immediately to the nearest mandatory prison hug.'"]}
                                    {:text [", 'Citizen! Report immediately to the nearest sanctioned dogpile.'"]}
                                    {:text [", 'Citizen! Report immediately to the nearest full-contact Bible study group.'"]}
                                    {:text [", 'Citizen! Report immediately to the mannequin factory.'"]}
                                    {:text [", 'Citizen! Report immediately to The Garbagerie.'"]}
                                    {:text [", 'Citizen! Report immediately to Stall #3.'"]}
                                    {:text [", 'Citizen! Just shut up already.'"]}
                                    {:text [". The announcement is completely garbled. The loudspeaker switches off with a squawk."]}]}}
            {:text ["In the distance, "]
             :follow-up {:config #{:required}
                         :fragment [{:text ["you hear " {:group :person} " let the bass drop."]}
                                    {:text ["you hear " {:group :person} " drop the mic."]}
                                    {:text ["you hear " {:group :person} " get wicked."]}]}}
            {:text ["You start spinning around and around. "]
             :follow-up {:config #{:required}
                         :fragment [{:text [{:group :person} " looks unimpressed."]}
                                    {:text [{:group :person} " faints."]}
                                    {:text ["You drill straight into the crust of the earth."]}
                                    {:text ["You gracefully lift off into a blue sky."]}
                                    {:text ["You gracefully lift off into a blue sky never to be seen again."]}
                                    {:text ["You gracefully lift off, go sideways, and crash into a building."]}]}}
            {:text ["The phone rings. "]
             :follow-up {:config #{:required}
                         :fragment [{:text [{:group :person} " stares at it " {:group :adverb} ". Eventually the ringing stops."]}
                                    {:text [{:group :person} " watches as it starts to melt, the sound of the ring slowing and burbling to a stop."]}
                                    {:text [{:groyp :person} " picks it up, listens a moment, shrieks, and slams the phone down again."]}
                                    {:text [{:group :person} " picks it up, says, 'It's for you,' but you're longer there."]}]}}
            {:text ["The radio crackles to life. "]
             :follow-up {:config #{:required}
                         :fragment [{:text ["It sounds like someone with a cold is eating Rice Krispies."]}
                                    {:text ["A hollow voice intones, " {:group :intonation}]}
                                    {:text ["Ketchup begins seeping through the speaker holes."]}
                                    {:text ["It continues to crackle to life. It's still crackling. It's on fire."]}
                                    {:text ["An announcer shouts, 'They found rice on Mars!'"]}
                                    {:text ["An announcer shouts, 'I'M NUDE TODAY.'"]}
                                    {:text ["A news report is on about " {:group :disaster} " " {:group :location :config #{:no-prep}} "."]}
                                    {:text [{:group :person} " solemnly says, '" {:group :intonation} "'"]}]}}
            {:text ["You awake from a nightmare. You saw yourself " {:group :location}
                     ". The corpse of " {:group :person :config #{:no-groups}}
                     " was there, holding " {:group :item} "."]}
            {:text ["You check your inventory. "]
             :follow-up {:config #{:required}
                         :fragment [{:text ["You are empty-handed."]}
                                    {:text ["You are carrying " {:group :item} "."]}
                                    {:text ["You have " {:group :item} " and " {:group :item} "."]}
                                    {:text ["You are carrying " {:group :item} ", " {:group :item} ", and " {:group :item} "."]}]}}
            {:text ["You eat " {:group :food} "."]
             :follow-up {:fragment [{:text [{:group :actor} " looks on " {:group :adverb} "."]}]}}
            {:text ["You get tired of waiting for "]
             :follow-up {:config #{:required}
                         :fragment [{:text ["your Uber and decide to walk to " {:group :location :config #{:no-prep}} " instead."]}
                                    {:text ["your private jet so you decide to walk to " {:group :location :config #{:no-prep}} " instead."]}
                                    {:text ["the all-you-can-eat-buffet to open so you walk to " {:group :location :config #{:no-prep}} " instead."]}]}}
            {:text ["You feel a little famished so you eat " {:group :food} "."]}
            {:text ["You open up " {:group :book} ". "]
             :follow-up {:config #{:required}
                         :fragment [{:text ["Someone has scribbled all over the margins. You throw it down on the floor in disgust."]}
                                    {:text ["Most of the book has been blacked out."]}
                                    {:text ["Inside is a note: 'When you're not reading this, it's written in Spanish."]}
                                    {:text ["Water pours out."]}
                                    {:text ["Orange juice spills out."]}
                                    {:text ["It bursts into flames."]}
                                    {:text ["Someone has left a recipe for beef stew inside."]}
                                    {:text ["You read a bit before tossing it over your shoulder and then sobbing quietly."]}
                                    {:text ["You read a bit before tossing it over your shoulder and then doing the electric slide."]}]}}
            {:text ["You peek out the window. "]
             :follow-up {:config #{:required}
                         :fragment [{:text [{:group :person} " is messing around with your mailbox. You crouch in fear."]}
                                    {:text [{:group :person} " is laying facedown in your flowerbed. You sink to your knees with worry."]}
                                    {:text [{:group :person} " has set up a lemonade stand in your yard. It's on fire."]}
                                    {:text [{:group :person} " has set up a lemonade stand in your yard. It's covered in bees."]}
                                    {:text [{:group :person} " has set up a lemonade stand in your yard. The line stretches around the block."]}
                                    {:text [{:group :person} " has set up a lemonade stand across the street. You feel oddly jealous."]}
                                    {:text [{:group :person} " has set up a lemonade stand in your yard. Somehow " {:group :gender :case :subjective} " is also in line."]}
                                    {:text [{:group :person} " is struggling to start a chainsaw while staring at you. You bite your knuckle."]}
                                    {:text [{:group :person} " is standing in your yard, painting a portrait of you peeking out the window."]}
                                    {:text [{:group :person} " is standing right there, peeking back in."]}
                                    {:text [{:group :animal} " is strutting back and forth."]}
                                    {:text ["The cops have set up a parameter around your house."]}
                                    {:text ["You're impressed: real life has an excellent framerate."]}
                                    {:text ["It's dark out because it's night. The moon is getting closer."]}
                                    {:text [{:group :person} " has almost finished burying all the corpses in your yard."]}
                                    {:text ["The bodies are hitting the floor."]}
                                    {:text ["It's raining Scrabble tiles because of course it is."]}
                                    {:text ["It's raining Scrabble tiles."]}
                                    {:text ["Someone has installed an above-ground pool and filled it with mini-ravioli."]}
                                    {:text ["Your entire house has been encased in a giant stone column."]}]}}
            {:text ["You pick up " {:group :item}]
             :follow-up {:config #{:required}
                         :fragment [{:text ["."]}
                                    {:text [". It bursts into flames."]}
                                    {:text [". You throw it into the sky and it disappears."]}
                                    {:text [" and hold it close to your chest."]}
                                    {:text [" and hold it up to " {:group :person} "'s face."]}]}}
            {:text ["You start spinning around and around while "]
             :follow-up {:config #{:required}
                         :fragment [{:text [{:group :person} " claps and cheers."]}
                                    {:text [{:group :person} " cries and points."]}
                                    {:text [{:group :person} " writes furiously on a clipboard."]}
                                    {:text [{:group :person} " starts spinning in the opposite direction, trying to offset your insanity with more insanity."]}
                                    {:text [{:group :actor} " strolls by, shaking " {:group :gender :case :possessive} " head sadly."]}
                                    {:text [{:group :person} " beams with pride."]}]}}
            {:text ["You startle " {:group :person} " who drops " {:group :item} " and runs away."]}
            {:text ["You surprise " {:group :person} ". "
                     {:group :gender :case :subjective} " drops "
                     {:group :item} " and runs away."]}
             {:text ["You take a bite of " {:group :food} "."]}
             {:text ["You take a sip of " {:group :drink :config #{:no-article}} "."]}]}
