{:group :actor-event
 :category :event
 :fragment [{:text '({:index 0 :group :actor} " " {:index 1 :group :actor-action} " " {:index 2 :group :actor} ".")}
            {:text '({:index 0 :group :actor} {:index 1 :group :actor-action} " you.")}
            {:text '({:index 0 :group :person} " appears in a puff of smoke, " {:index 1 :group :actor-activity})}
            {:text '({:index 0 :group :actor :config #{:no-groups}} " arrives from the " {:index 1 :group :direction} ", carrying " {:index 2 :group :item} ".")}
            {:text '({:index 0 :group :actor :config #{:no-groups}} " pulls " {:index 1 :group :item} " out of " {:index 2 :group :gender :case :possessive} " pocket and flings it over the horizon.")}
            {:text '({:index 0 :group :actor} " drops " {:index 1 :group :item} " here.")}
            {:text '({:index 0 :group :actor} " drops " {:index 1 :group :item} ", looks at you " {:index 2 :group :adverb} ", then leaves.")}
            {:text '({:index 0 :group :actor} " gently places " {:index 1 :group :item} "on the ground and then backs away slowly.")}
            {:text '({:index 0 :group :person} " is calling from " {:index 1 :group :location :config #{:no-prep}})
             :follow-up {:config #{:required}
                         :fragment [{:text '(" asking if " {:index 2 :group :person} " can come out and play.")}
                                    {:text '(" asking for " {:index 2 :group :item} ".")}
                                    {:text '(" taking responsibility for a recent " {:index 2 :group :disaster} ".")}]}}
            {:text '({:index 0 :group :person} " makes a rude noise. " {:index 1 :ref 0 :group :gender :case :subjective} " points surreptitiously to " {:index 2 :group :animal} " nearby.")}
            {:text '({:index 0 :group :actor} " picks up " {:index 1 :group :item} ".")}
            {:text '({:index 0 :group :person} " slams down a half-empty glass of " {:index 1 :group :drink :config #{:no-prep :no-article}} ".")
             :follow-up {:fragment [{:text '(" 'All this nonsense about " {:index 2 :group :item} " needs to stop! I can't take it anymore!'")}
                                    {:text '(" 'They're making plans for Nigel! They want what's best for him!'")}
                                    {:text '(" 'You can't go up against city hall!'")}
                                    {:text '(" 'I just can't take you seriously anymore!'")}
                                    {:text '(" 'MOM?!'")}]}}
            {:text '({:index 0 :group :person} " starts breakdancing and won't stop no matter how much you scream.")}
            {:text '({:index 0 :group :actor} " suddenly appears out of the shadows and ")
             :follow-up {:config #{:required}
                         :fragment [{:text '("hisses at you, then scrambles away like a spider.")}
                                    {:text '("says, 'Oh, sorry about that,' then retreats back into the shadows.")}
                                    {:text '("says, '" {:index 1 :group :actor} " will see you now,' then slowly retreats back into the shadows.")}]}}
            {:text '({:index 0 :group :person} " suddenly shrieks.")}]}
