{:class :actor-action
 :type :sub
 :config #{:no-article}
 :fragment [{:index 0
             :text "attacks"}
            {:index 1
             :text "examines"}
            {:index 2
             :text "flirts with"}
            {:index 3
             :text "ignores"}
            {:index 4
             :text "imitates"}
            {:index 5
             :text "pets"}
            {:index 6
             :text "sneezes on"}
            {:index 7
             :text "stands uncomfortably close to"}
            {:index 8
             :text "tickles"}
            {:index 9
             :text "violently points at"}]}
