{:class :diagnosis
 :type :sub
 :config #{:no-article}
 :fragment [{:index 0
             :text "absurdly sticky"}
            {:index 1
             :text "affable"}
            {:index 2
             :text "confused"}
            {:index 3
             :text "covered in bees"}
            {:index 4
             :text "drunk"}
            {:index 5
             :text "feeling great"}
            {:index 6
             :text "feeling gross"}
            {:index 7
             :text "heavily wounded"}
            {:index 8
             :text "high"}
            {:index 9
             :text "hungry"}
            {:index 10
             :text "lightly wounded"}
            {:index 11
             :text "moderately wounded"}
            {:index 12
             :text "near death"}
            {:index 13
             :text "on fire"}
            {:index 14
             :text "skinless"}
            {:index 15
             :text "sleepy"}
            {:index 16
             :text "sober"}
            {:index 17
             :text "spaghettified"}
            {:index 18
             :text "spontaneously hirsute"}
            {:index 19
             :text "stoned"}
            {:index 20
             :text "temporarily blind"}
            {:index 21
             :text "temporarily deaf"}
            {:index 22
             :text "thirsty"}
            {:index 23
             :text "unemployed"}]}
