{:group :diagnosis-event
 :category :event
 :fragment [{:text '("A doctor leans in from the shadows to inform you that you are " {:group :diagnosis} ".")
             :text '("You look into a nearby mirror and notice you are " {:group :diagnosis} ".")
             :text '("You check your health: you are " {:group :diagnosis} ".")}]}
