{:group :diagnosis-event
 :category :event
 :fragment [{:text ['("A doctor leans in from the shadows to inform you that you are " {:token 0 :group :diagnosis} ".")
                    '("You look into a nearby mirror and notice you are " {:token 0 :group :diagnosis} ".")
                    '("You check your health: you are " {:token 0 :group :diagnosis} ".")]}]}
