{:group :dialogue-event
 :category :event
 :fragment [{:text '({:index 0 :group :person} {:index 1 :group :dialogue})}
            {:text '({:index 0 :group :person :config #{:no-groups}} " is nearby. " {:index 1 :ref 0 :group :gender :case :subjective} {:index 2 :group :dialogue})}
            {:text '({:index 0 :group :person} " marches up to you and " {:index 1 :group :dialogue})}
            {:text '("You check your messages: ")
             :follow-up {:config #{:required}
                         :fragment [{:text '({:index 0 :group :person :config #{:no-groups}} {:index 1 :group :dialogue})}]}}]}
