{:group :drink
 :category :sub
 :fragment [{:text ["gravy"]
             :article ["a cup of"]
             :decorator {:prefix {:config #{:required}
                                  :fragment [{:text ["cold" "beef" "boiling" "lukewarm"
                                                     "mushroom" "pork" "stinking" "steaming"
                                                     "turkey"]}]}}}
            {:text ["juice"]
             :article ["a glass of"]
             :decorator {:prefix {:config #{:required}
                                  :fragment [{:text ["apple" "cranberry" "grape" "grapefruit"
                                                     "fruit" "orange"]}]}}}
            {:text ["milk"]
             :article ["a gallon of"]
             :decorator {:prefix {:fragment [{:text ["almond" "boiling"
                                                     "breast" "rancid" "raw" "skim"
                                                     "soy" "spoiled" "whole"]}]}}}
            {:text ["tea"]
             :article ["some"]}
            {:text ["soda"]
             :article ["some"]}
            {:text ["water"]
             :article ["some"]}
            {:text ["broth"]
             :article ["some"]
             :decorator {:prefix {:config #{:required}
                                  :fragment [{:text ["beef" "chicken" "pork"
                                                     "seafood" "vegetable"]}]}}}
            {:text ["scotch"]
             :decorate {:prefix {:fragment [{:text ["single-malt" "blended" "peaty"]}]}}}]}
