{:class :drink
 :type :sub
 :fragment [{:index 0
             :text "gravy"
             :article "a cup of"
             :decorator {:prefix {:config #{:required}
                                  :fragment [{:text ["cold" "boiling" "lukewarm"
                                                     "mushroom" "steaming" "turkey"]}]}}}
            {:index 1
             :text "juice"
             :article "a glass of"
             :decorator {:prefix {:config #{:required}
                                  :fragment [{:text ["apple" "cranberry" "grape" "grapefruit"
                                                     "fruit" "orange"]}]}}}
            {:index 2
             :text "milk"
             :article "a gallon of"
             :decorator {:prefix {:fragment [{:text ["almond" "boiling"
                                                     "breast" "rancid" "raw" "skim"
                                                     "soy" "spoiled" "whole"]}]}}}
            {:index 3
             :text "tea"
             :article "some"}
            {:index 4
             :text "soda"
             :article "some"}
            {:index 5
             :text "water"
             :article "some"}
            {:index 6
             :text "broth"
             :article "some"
             :decorator {:prefix {:config #{:required}
                                  :fragment [{:index 0
                                              :text ["beef" "chicken" "pork"
                                                     "seafood" "vegetable"]}]}}}
            {:index 7
             :text "scotch"
             :decorate {:prefix {:fragment [{:index 0
                                             :text ["single-malt" "blended" "peaty"]}]}}}]}
