{:group :food
 :category :sub
 :fragment [{:index 0
             :text "apple pocket"}
            {:index 1
             :text "block of cheese"}
            {:index 2
             :text "bobka"
             :decorator {:prefix {:config #{:required}
                                  :fragment [{:text ["cinnamon" "chocolate" "Satanic"]}]}}}
            {:index 3
             :text "bouquet of corndogs"}
            {:index 4
             :text "burger"
             :decorator {:prefix {:fragment [{:text ["half-eaten" "tongue" "tooth"]}]}}}
            {:index 5
             :text "burrito"}
            {:index 6
             :text "cake"
             :article ["a" "a slice of"]
             :decorator {:prefix {:fragment [{:text "birthday"}]}}}
            {:index 7
             :text ["Cheerios" "Rice Chex"]
             :article "a bowl of"}
            {:index 8
             :text "cheeseburger"
             :decorator {:prefix {:fragment [{:text ["half-eaten" "bacon double"]}]}}}
            {:index 9
             :text ["chips" "Doritos" "Fritos" "Funyons" "nacho chips"]
             :article "some"}
            {:index 10
             :text "delicious churro"}
            {:index 11
             :text "Cinnabon"}
            {:index 12
             :text "cornbread"
             :article "some"
             :decorator {:prefix {:fragment [{:text "weaponized"}]}}}
            {:index 13
             :text "corndog"}
            {:index 14
             :text "duck confit"
             :article "some"}
            {:index 15
             :text "kumquat"}
            {:index 16
             :text "pancakes"
             :article "some"}
            {:index 17
             :text "pasta"
             :article "some"}
            {:index 18
             :text "Pop Tart"
             :decorator {:prefix {:config #{:required}
                                  :fragment [{:text ["angst" "apple cinnamon" "blueberry" "Dutch apple"
                                                     "frosted feces" "nihilist" "snozzberry" "strawberry"]}]}}}
            {:index 19
             :text "Reese's Peanut Butter Cup"
             :article "a"}
            {:index 20
             :text "uncooked rice"
             :article "some"}
            {:index 21
             :text "salad"
             :decorator {:prefix {:fragment [{:text "big"}]}}}
            {:index 22
             :text "sandwich"
             :decorator {:prefix {:fragment [{:text ["ham" "persecution"]}]}}}
            {:index 23
             :text "slice of fried spam"}
            {:index 24
             :text "sushi"
             :article "some"}
            {:index 25
             :text "sweetroll"}
            {:index 26
             :text "wedge of cheese with some mold on it"}]}
