{:group :food
 :category :sub
 :fragment [{:text ["apple pocket"]}
            {:text ["block of cheese"]}
            {:text ["bobka"
             :decorator {:prefix {:config #{:required}
                                  :fragment ["cinnamon" "chocolate" "Satanic"]}}}
            {:text ["bouquet of corndogs"]}
            {:text ["burger"
             :decorator {:prefix {:fragment ["half-eaten" "tongue" "tooth"]}}}
            {:text ["burrito"]}
            {:text ["cake"]
             :article ["a" "a slice of"]
             :decorator {:prefix {:fragment "birthday"}}}
            {:text ["Cheerios" "Rice Chex"]
             :article "a bowl of"}
            {:text ["cheeseburger"]
             :decorator {:prefix {:fragment ["half-eaten" "bacon double"]}}}
            {:text ["chips" "Doritos" "Fritos" "Funyons" "nacho chips"]
             :article "some"}
            {:text ["delicious churro"]}
            {:text ["Cinnabon"]}
            {:text ["cornbread"]
             :article "some"
             :decorator {:prefix {:fragment "weaponized"}}}}
            {:text ["corndog"]}
            {:text ["duck confit"]
             :article "some"}
            {:text ["kumquat"]}
            {:text ["pancakes"
             :article "some"]}
            {:text ["pasta"
             :article "some"]}
            {:text ["Pop Tart"]
             :decorator {:prefix {:config #{:required}
                                  :fragment ["angst" "apple cinnamon" "blueberry"
                                             "bukkake" "Dutch apple" "frosted feces"
                                             "nihilist" "snozzberry" "strawberry"
                                             "terrorist"]}}}
            {:text ["Reese's Peanut Butter Cup"]
             :article "a"}
            {:text ["uncooked rice"]
             :article "some"}
            {:text ["salad"]
             :decorator {:prefix {:fragment "big"}}}
            {:text ["sandwich"]
             :decorator {:prefix {:fragment ["ham" "persecution"]}}}
            {:text ["slice of fried spam"]}
            {:text ["sushi"]
             :article "some"}
            {:text ["sweetroll"]}
            {:text ["wedge of cheese with some mold on it"]}]}
