{:group :garment
 :type :sub
 :fragment [{:index 0
             :text "belt"}
            {:index 1
             :text "clown suit"
             :decorator {:prefix {:fragment [{:text "heirloom"}]}}}
            {:index 2
             :text "coat"}
            {:index 3
             :text "dress"}
            {:index 4
             :text "gloves"}
            {:index 5
             :text "hat"}
            {:index 6
             :text "jacket"}
            {:index 7
             :text "pants"}
            {:index 8
             :text "schizophrenic mood ring"}
            {:index 9
             :text "shirt"}
            {:index 10
             :text "shoes"}
            {:index 11
             :text "skirt"}
            {:index 12
             :text "socks"}
            {:index 13
             :text "sweater"}
            {:index 14
             :text "underwear"}
            {:index 15
             :text "watch"}]}
