{:events [{:group :location-event :weight 40}
          {:group :action-event :weight 40}
          {:group :actor-event :weight 20}
          {:group :attack-event :weight 10}
          {:group :dialogue-event :weight 10}
          {:group :diagnosis-event :weight 1}
          {:group :news-event :weight 1}
          {:group :thought-event :weight 1}]
 :subs [{:group :actor-action}
        {:group :actor-activity}
        {:group :adjective}
        {:group :adverb}
        {:group :animal}
        {:group :attack}
        {:group :book}
        {:group :diagnosis}
        {:group :dialogue}
        {:group :direction}
        {:group :disaster}
        {:group :drink}
        {:group :food}
        {:group :game}
        {:group :garment}
        {:group :headline}
        {:group :insult}
        {:group :intonation}
        {:group :item}
        {:group :location}
        {:group :movie}
        {:group :noise}
        {:group :obstacle}
        {:group :person}
        {:group :scent}
        {:group :sign}
        {:group :thought}]}
