{:group :insult
 :category :sub
 :config #{:no-article}
 :fragment [{:index 0
             :text "cocktable"
             :kind :name}
            {:index 1
             :text "Constable Von Shitz"
             :kind :name}
            {:index 2
             :text "cuntbutter"
             :kind :name}
            {:index 3
             :text "dickstaple"
             :kind :name}
            {:index 4
             :text "douchepilot"
             :kind :name}
            {:index 5
             :text "Fondles Yon Genitals"
             :Kind :name}
            {:index 6
             :text "licker of shit"
             :kind :name}
            {:index 7
             :text "shitcheese"
             :kind :name}
            {:index 8
             :text "turdburglar"
             :kind :name}
            {:index 9
             :text "twatvomit"
             :kind :name}
            {:index 10
             :text "you ass hole"
             :kind :name}
            {:index 11
             :text "you bag of dicks"
             :kind :name}
            {:index 12
             :text "you ballsnacker"
             :kind :name}
            {:index 13
             :text "you everloving taintgobble"
             :kind :name}
            {:index 14
             :text "you fucking squat thrust"
             :kind :name}
            {:index 15
             :text "you goddamned cocktable"
             :kind :name}
            {:index 16
             :text "you shit tangle"
             :kind :name}]}
