{:group :insult
 :category :sub
 :config #{:no-article}
 :fragment [{:text ["cocktable"]}
            {:text ["Constable Von Shitz"]}
            {:text ["cuntbutter"]}
            {:text ["dickstaple"]}
            {:text ["douchepilot"]}
            {:text ["Fondles Yon Genitals"]}
            {:text ["licker of shit"]}
            {:text ["shitcheese"]}
            {:text ["turdburglar"]}
            {:text ["twatvomit"]}
            {:text ["you ass hole"]}
            {:text ["you bag of dicks"]}
            {:text ["you ballsnacker"]}
            {:text ["you everloving taintgobble"]}
            {:text ["you fucking squat thrust"]}
            {:text ["you goddamned cocktable"]}
            {:text ["you shit tangle"]}]}
