{:class :noise
 :type :sub
 :fragment [{:index 0
             :text "explosion"
             :decorator {:prefix {:fragment [{:index 0
                                              :text "distant"}]}
                         :suffix {:fragment [{:index 0
                                              :text "in the distance"}]}}}
            {:index 1
             :text "explosions"
              :article "some"
             :decorator {:prefix {:fragment [{:index 0
                                              :text "distant"}]}
                         :suffix {:fragment [{:index 0
                                              :text "in the distance"}]}}}
            {:index 2
             :text "foghorn"
              :decorator {:config #{:both}
                          :prefix {:fragment [{:index 0
                                               :text ["distant" "lonely"]}]}
                          :suffix {:fragment [{:index 0
                                               :text "in the distance"}]}}}
            {:index 3
             :text "laughter"
              :article "some"
             :decorator {:prefix {:fragment [{:index 0
                                              :text ["child-like"
                                                      "distant"
                                                      "high-pitched"
                                                      "insane"
                                                      "loud"
                                                      "obnoxious"
                                                      "quiet"
                                                      "sinister"
                                                      "unnerving"]}]}}}
            {:index 4
             :text ["cackle" "chuckle" "laugh"]
             :decorator {:prefix {:fragment [{:index 0
                                              :text ["child-like"
                                                     "distant"
                                                     "insane"
                                                     "loud"
                                                     "obnoxious"
                                                     "sinister"
                                                     "unnerving"]}]}}}
            {:index 5
             :text ["cackling" "chuckling" "laughing"]
             :article ["someone" "somebody"]
             :decorator {:suffix {:fragment {:index 0
                                             :text ["insanely"
                                                    "loudly"
                                                    "insanely"
                                                    "nearby"
                                                    "obnoxiously"
                                                    "quietly"]}}}}
            {:index 6
             :text ["choking"]
             :article ["someone" "somebody"]
             :decorator {:config #{:both}
                         :prefix {:fragment [{:index 0
                                              :text ["loudly" "quietly"]}]}
                         :suffix {:fragment [{:index 0
                                              :text ["to death"]}]}}}
            {:index 7
             :text ["crying"]
             :article ["someone" "somebody"]
             :decorator {:suffix {:fragment [{:index 0
                                              :text ["loudly" "quietly" "obnoxiously"]}]}}}
            {:index 8
             :text ["weeping" "sobbing"]
             :article ["someone" "somebody"]
             :decorator {:suffix {:fragment [{:index 0
                                              :text ["loudly" "quietly"]}]}}}
            {:index 9
             :text ["sneeze" "cough" "burp" "fart"]
             :article "a"
             :decorator {:prefix {:fragment [{:index 0
                                              :text ["loud" "wet" "quiet" "dainty" "manly"]}]}}}
            {:index 10
             :text ["sneezing" "coughing" "burping" "farting"]
             :article ["someone" "somebody"]
             :decorator {:prefix {:fragment [{:index 0
                                              :text ["loudly" "quietly" "repeatedly"]}]}
                         :suffix {:fragment [{:index 0
                                              :text ["while crying" "while running" "while eating"]}]}}}
            {:index 11
             :text ["wolves howling"]
             :decorator {:suffix {:fragment [{:index 0
                                              :text ["in the distance" "under water"]}]}}}
            {:index 12
             :text ["ice cream truck" "ambulance"]}
            {:index 13
             :text ["fire truck"]}
            {:index 14
             :text ["phone ringing"]
             :article ["a" "the"]}
            {:index 15
             :text ["bell tower"]}
            {:index 16
             :text ["door slam"]}]}
