{:group :obstacle
 :type :sub
 :config #{:no-article}
 :fragment [{:index 0
             :text "a black comb on the ground"}
            {:index 1
             :text "a stack of dogs going all the way to the moon"}
            {:index 2
             :text "Steve Buscemi's grin"}
            {:index 3
             :text "an obstinant balloon expert"}
            {:index 4
             :text "a pile of corroded Ewoks"}
            {:index 5
             :text "a horrible taste in your mouth"}
            {:index 6
             :text "a movie being shown in the wrong aspect ratio"}
            {:index 7
             :text "someone who has never listened to Neutral Milk Hotel"}
            {:index 8
             :text "the thing your aunt gave you which you don't know what it is"}
            {:index 9
             :text "an aquarium full of milk"}
            {:index 10
             :text "dubstep"}
            {:index 11
             :text "a 404 error"}
            {:index 12
             :text "Adam Sandler's career"}
            {:index 13
             :text "that awful man"}
            {:index 14
             :text "a dude who insists on putting his hand in his girlfriend's back pocket"}
            {:index 15
             :text "a maelstrom of hipster beards"}
            {:index 16
             :text "a wall of tepid soup"}
            {:index 17
             :text "a giant cat tongue"}
            {:index 18
             :text "George Lucas' neck"}
            {:index 19
             :text "Ruby On Rails"}
            {:index 20
             :text "someone who takes too many selfies"}
            {:index 21
             :text "a cat who has been pet against the grain"}
            {:index 22
             :text "substandard prequels"}
            {:index 23
             :text "the Scut Farkus Affair"}
            {:index 24
             :text "a lack of retweets"}
            {:index 25
             :text "a sweaty 486DX4 chip"}
            {:index 26
             :text "a convenient reclosing tab"}
            {:index 27
             :text "a lengthy German noun"}
            {:index 28
             :text "your own unwillingness to improve yourself"}
            {:index 29
             :text "%10's sheer force of will"
             :subs [{:token 10 :group :person}]}
            {:index 30
             :text "%10's birthday party"
             :subs [{:token 10 :group :person}]}
            {:index 31
             :text "a delicious Nutter Butter"}
            {:index 32
             :text "double-double Animal style"}
            {:index 33
             :text "someone who doesn’t know how to eat a goddamned Oreo properly"}
            {:index 34
             :text "a GitHub outage"}]}
