{:group :person
 :type :sub
 :config #{:no-article}
 :fragment [{:index 0
             :text "Justin Bieber"
             :gender :male}
            {:index 1
             :text "Lloyd Braun"
             :gender :male}
            {:index 2
             :text "Jim J. Bullock"
             :gender :male}
            {:index 3
             :text "Ruth Buzzi"
             :gender :female}
            {:index 4
             :text "Johnny Cash"
             :gender :male}
            {:index 5
             :text "George Clooney"
             :gender :male}
            {:index 6
             :text "Stephen Colbert"
             :gender :male}
            {:index 7
             :text "Peter Dinklage"
             :gender :male}
            {:index 8
             :text "Craig Ferguson"
             :gender :male}
            {:index 9
             :text "James Franco"
             :gender :male}
            {:index 10
             :text "Stephen Fry"
             :gender :male}
            {:index 11
             :text "a gas station attendant"
             :gender [:female :male]}
            {:index 12
             :text "Whoopi Goldberg"
             :gender :female}
            {:index 13
             :text "Nancy Grace"
             :gender :female}
            {:index 14
             :text "Louis Gray"
             :gender :male}
            {:index 15
             :text "Tim Heidecker"
             :gender :male}
            {:index 16
             :text "Jonah Hill"
             :gender :male}
            {:index 17
             :text "Samuel L. Jackson"
             :gender :male}
            {:index 18
             :text "Allison Janney"
             :gender :female}
            {:index 19
             :text "Grace Jones"
             :gender :female}
            {:index 20
             :text "a bunch of kids"
             :gender :group}
            {:index 21
             :text "Hugh Laurie"
             :gender :male}
            {:index 22
             :text "Jennifer Lawrence"
             :gender :female}
            {:index 23
             :text "Lindsay Lohan"
             :gender :female}
            {:index 24
             :text "Rob Lowe"
             :gender :male}
            {:index 25
             :text "David Lynch"
             :gender :male}
            {:index 26
             :text "Josh Malina"
             :gender :male}
            {:index 27
             :text "Bill Maher"
             :gender :male}
            {:index 28
             :text "Frances McDormand"
             :gender :female}
            {:index 29
             :text "your mom"
             :gender :female}
            {:index 30
             :text "Bill Murray"
             :gender :male}
            {:index 31
             :text "Craig T. Nelson"
             :gender :male}
            {:index 32
             :text "Katy Perry"
             :gender :female}
            {:index 33
             :text "Geoff Petersen"
             :gender :male}
            {:index 34
             :text "Brad Pitt"
             :gender :male}
            {:index 35
             :text "a police officer"
             :gender [:female :male]}
            {:index 36
             :text "Thomas Pynchon"
             :gender :male}
            {:index 37
             :text "Bob Sacamano"
             :gender :male}
            {:index 38
             :text "Zombie Carl Sagan"
             :gender :male}
            {:index 39
             :text "Tilda Swinton"
             :gender :female}
            {:index 40
             :text "Zombie Hunter Thompson"
             :gender :male}
            {:index 41
             :text "Alex Trebek"
             :gender :male}
            {:index 42
             :text "Neil deGrasse Tyson"
             :gender :male}
            {:index 43
             :text "Eric Wareheim"
             :gender :male}
            {:index 44
             :text "Bradley Whitford"
             :gender :male}
            {:index 45
             :text "a crowd of Yoga enthusiasts"
             :gender :group}]}
