{:class :thought
 :type :sub
 :config #{:no-article}
 :fragment [{:index 0
             :text "%10 still owes me a backrub."
             :sub [{:token 10 :class :person}]}
            {:index 1
             :text "%10 never has a second cup of coffee at home..."
             :sub [{:token 10 :class :person}]}
            {:index 2
             :text "Hey! But I didn't eat the mousse!"}
            {:index 3
             :text "It's time to pay the price."}
            {:index 4
             :text "I've made a huge mistake."}
            {:index 5
             :text "I wonder if I could forge us a Group 6 Access..."}
            {:index 6
             :text "This'll all end in tears."}
            {:index 7
             :text "Why don't they have Double Stuf Nutter Butters?"}
            {:index 8
             :text "Why don't they put mayo in the can with the tuna?"}
            {:index 9
             :text "You can't go up against city hall."}]}
